@import "tailwindcss";

body {
  background-color: #1A1A1A;
}

/* Customização das setas */
.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: white;
  width: 25px; 
  height: 25px;
  padding: 0;
  background: none; 
  border-radius: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: none; 
}




